<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%=search_form_for @p,url: items_search_path do |s|%>
    <%=s.label :item_name_eq%>
    <%=s.text_area :item_name_eq%>
    <%=s.collection_select :item_category_id_eq,@category,:id,:name,include_blank:"指定なし"%>
      <button class="search-button">
        <%s.submit %><%=image_tag "search.png", class:"search-icon" %>
      </button>
      <%= %>
      <%end%>
    
  </div>
  <div class='nav'>
  <ul>
    <li>カテゴリー</li>
    <li>カテゴリー</li>
    </ul>
    
      <div class="category">
                <% Category.all.each do |c|%>
                 <ul class="clist">
                 <li><%= c.name%></li>
                 </ul>

      </div>
      <%end%>
    
    <ul class='lists-right'>
      <%if user_signed_in?%>
      <li><%= link_to current_user.nickname, new_user_session_path, class: "user-nickname"%> </li> 
      <li><%= link_to 'ログアウト',  destroy_user_session_path, method: :delete, class: "logout" %></li>
      <%else%>
      <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <%end%>
    </ul>
  </div>
</header>